.headerListItem {
    cursor: pointer;
    padding: 0px 1rem;
}

.companyLogoWrapper {
    justify-content: center;
    align-items: center;
    display: flex;
    cursor: pointer;
}


.companyNameText {
    font-size: 1.5rem;
    font-weight: 600;
    text-wrap: nowrap;
    margin-left: 0.5rem;
    font-family: 'Hammersmith One', sans-serif;
}

.headerLinks {
    font-family: 'Hammersmith One', sans-serif;
}