.serviceCardContainer {
    display: flex;
    flex-direction: column;
    box-shadow: 0px 2px 4px -1px rgba(0, 0, 0, 0.2), 0px 4px 5px 0px rgba(0, 0, 0, 0.14), 0px 1px 10px 0px rgba(0, 0, 0, 0.12);
    border-radius: 5px;
    word-wrap: break-word;
    max-width: calc(100% + 0px);
    transition: transform .5s;
}

.serviceCardContainer:hover {
    transform: scale(1.05);
}

@media screen and (min-width:480px) {
    .serviceCardContainer {
        max-width: 350px;
    }
}

.serviceCardWrapper {
    height: 200px;
    width: 100%;
}

.serviceCardImage {
    height: 100%;
    width: 100%;
    background-size: cover;
}

.serviceCardDescriptionWrapper {
    padding: 0px 10px;
}

.serviceCardSubtitle {
    height: 70px;
    overflow: hidden;
    color: #7e7e7e;
}

.serviceCardButtonContainer {
    display: flex;
    justify-content: right;
    margin-top: 0.1rem;
}

.serviceCardButtonWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    background: white;
    color: #ff7e43;
    padding: 0.6rem;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 10px;
    cursor: pointer;
    border: 2px solid transparent;
    transition: 0.3s;
    font-weight: 500;
}

.serviceCardButtonWrapper:hover {
    background: #ff7e43;
    color: white;
    border: 2px solid transparent;
}

.readMoreIcon {
    margin-left: 5px;
}