.logos {
    overflow: hidden;
    background: white;
    white-space: nowrap;
    position: relative;
    padding: 2rem 0;
}

.logos:before,
.logos:after {
    position: absolute;
    top: 0;
    width: 250px;
    height: 100%;
    content: "";
    z-index: 2;
}

.logos:before {
    left: 0;
    background: unset;
}

.logos:after {
    right: 0;
    background: unset
}

@media screen and (min-width:480px) {
    .logos:after {
        background: linear-gradient(to right, rgba(255, 255, 255, 0) 90%, white);
    }

    .logos:before {
        background: linear-gradient(to left, rgba(255, 255, 255, 0) 90%, white);
    }
}

.logos-slide {
    display: inline-block;
    animation: 30s slide infinite linear;
}

.logos-slide img {
    height: 110px;
    margin: 0 1.5rem;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-100%);
    }
}