.spotLightCardBannerImage {
    width: 100%;
}

.spotLightCardDeatilsWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    padding: 0px 2rem;
    font-family: 'Poppins', sans-serif;
}

.spotLightCardTitle {
    font-size: 2rem;
    line-height: 1.5;
    letter-spacing: 0.00938em;
    padding: 0.5rem 0px;
    font-weight: 600;
}

.spotLightCardSubTitle {
    font-weight: 400;
    font-size: 1.1rem;
    color: rgba(0, 0, 0, 0.54);
}