.bannerImage {
    min-height: calc(60vh - 10px);
    padding-bottom: 0;
    padding-top: 0;
    background-position: 70%;
    background-repeat: no-repeat;
    background-size: cover;
    height: fit-content;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.bannerImageTextHeader {
    font-size: 2rem;
    font-weight: 600;
    padding-left: 1rem;
    font-family: 'Poppins', sans-serif;
    color: white;
    text-shadow: 2px 2px 4px black;
}

@media screen and (min-width:480px) {
    .bannerImageTextHeader {
        font-size: 4rem;
        padding-left: 2rem;
        text-shadow: unset;
    }

    .bannerImage {
        min-height: calc(100vh - 200px);
        background-position: 50%;
    }
}

.typingEffect {
    width: 100%;
    animation: typing 3.5s, blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
}

@keyframes typing {
    from {
        width: 0
    }
}

@keyframes blink {
    50% {
        border-color: transparent
    }
}

.ourServiceWrapper {
    display: flex;
    justify-content: center;
    padding: 1rem 0px;
}

.ourServiceText {
    position: relative;
    font-family: 'Poppins', sans-serif;
    font-size: 2.2rem;
    font-weight: 600;
}

.ourServiceText::before {
    content: "";
    position: absolute;
    left: 0;
    width: 50%;
    transition: all 0.5s ease-in-out;
    height: 2.5px;
    background: #0074e2;
    bottom: 0;
    right: 0;
    margin: auto;
}