.footerContent {
    color: #fff;
    background: linear-gradient(to right, #0074e2, #1a3280);
    border-radius: 25px 25px 0px 0px;
    justify-content: space-between;
    margin-bottom: 0;
    padding: 1.5rem 3rem 0.5rem 3rem;
    font-family: 'Poppins', sans-serif;
}

.companyFooterText {
    font-family: 'Poppins', sans-serif !important;
    font-size: 1.5rem;
    font-weight: 600;
}


.social {
    padding: 7px;
    border-radius: 50%;
    margin-right: 10px;
    transition: transform 0.5s ease 0s;
}

.social:hover {
    transform: rotate(360deg);
    border: 1px solid whitesmoke;
}

.socialPadding {
    padding-top: 10px;
    display: flex;
}

.contentWidth {
    width: 25%;
}

.footerCopyrightTextWrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    align-items: center;
    width: 100%;
    font-size: 0.8rem;
}

.footerDivider {
    width: 100%;
    height: 0.1px;
    background: whitesmoke;
    opacity: 0.6;
    margin: 0.5rem 0px;
}

.footerCopyrightText {
    font-size: 0.7rem;
}


@media screen and (min-width:480px) {
    .footerCopyrightText {
        font-size: unset;
    }
}

.contactUsFooter {
    display: flex;
    padding: 0.5rem 0px;
}

.socialMediaIcon {
    animation-duration: 1.5s;
    animation-iteration-count: infinite;
    transform-origin: bottom;
}

.instagramIcon:hover {
    animation-name: bounce;
    animation-timing-function: ease;
}

.facebookIcon:hover {
    animation-name: bounce;
    animation-timing-function: ease;
}

.linkedinIcon:hover {
    animation-name: bounce;
    animation-timing-function: ease;
}

.whatsappIcon:hover {
    animation-name: bounce;
    animation-timing-function: ease;
}

@keyframes bounce {
    0% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-8px);
    }

    100% {
        transform: translateY(0);
    }
}