.spotlightWarapper {
	align-items: center;
	padding-top: 3rem;
	padding-bottom: 3rem;
	/* height: 500px; */
}

.spotlightHeaderText {
	font-weight: 500 !important;
	font-size: 1.8rem !important;
	/* text-wrap: nowrap !important; */
	font-family: 'Hammersmith One', sans-serif !important;
}

.spotlightImageWrapper {
	width: 100%;
	height: 350px;
}

.spotlightText {
	height: 70px;
	overflow: hidden;
	color: #7e7e7e;
}

.sectionBtn {
	font-size: 14px !important;
	padding: 15px 30px !important;
	border-radius: 35px !important;
}

/* .sectionBtn {
	font-size: 14px !important;
	padding: 15px 30px !important;
	border-radius: 35px !important;
	position: relative;
	display: inline-block;
	padding: 10px 20px;
	background-color: #3498db;
	color: #fff;
	font-size: 16px;
	text-decoration: none;
	overflow: hidden;
	transition: background-color 0.5s ease;
}

.sectionBtn::before {
	content: "";
	position: absolute;
	top: 0;
	left: -100%;
	width: 100%;
	height: 100%;
	background: linear-gradient(to right, black, black);
	transition: left 0.5s ease;
}

:hover.sectionBtn::before {
	left: 100%;
} */

:hover.sectionBtn {
	background-color: black !important;
}


@media screen and (max-width:480px) {
	.sectionBtn {
		font-size: 12px !important;
	}
}